@layer theme, base, mui, components, utilities;
@import "tailwindcss";
@config "../../tailwind.config.ts";
@import "./joker.css";

html {
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

body {
  scroll-snap-type: y mandatory;
}
